{% extends "basic.html" %} {% block title %}Graphs Addon Generator{% endblock %} {% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>{% endblock %} {% block body %}
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="navbar-header active">
                <a href="/" class="navbar-brand active">Bittrex Machine</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/report">Reports Generator</a>
                    </li>
                    <li>
                        <a href="/graph">Graphs Generator</a>
                    </li>
                    <li class="active">
                        <a href="#">Graphs Addon Generator</a>
                    </li>
                    <li>
                        <a href="/datacenter">Data Center</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome back, {{ name }}!<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/logout">Log out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert alert-dismissable alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form class="form" role="form" method="POST" data-toggle="validator">
            <div class="form-group has-feedback">
                <div class='input-group date' id='datetimepicker_from'>
                    <input type='text' class="form-control" placeholder="Formatted start date" name="from" required pattern="^\d{2}\/\d{2}\/\d{4} \d{1,2}:\d{2} (AM|PM)$" maxlength="19" data-error="Please stick to the date format!" value='{{ fromvalue }}'/>
                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <div class='input-group date' id='datetimepicker_to'>
                    <input type='text' class="form-control" name='to'placeholder="Formatted end date" pattern="^\d{2}\/\d{2}\/\d{4} \d{1,2}:\d{2} (AM|PM)$" maxlength="19" data-error="Please stick to the date format!" id='datetime' value='{{ tovalue }}'/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <div class='input-group' id='coin'>
                    <input type='text' class="form-control" placeholder="Coin uppercased" name="coin" required pattern="^[A-Z]+$" data-error="Upper register letters only!" value='{{ coinvalue }}' />
                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-bitcoin"></span>
                    </span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <div class='input-group' id='interval'>
                    <select class="form-control" id="selector" name='interval'>
                        <option value='1'>1 minute</option>
                        <option value='5'>5 minutes</option>
                        <option value='10'>10 minutes</option>
                        <option value='30'>30 minutes</option>
                        <option value='60'>60 minutes</option>
                    </select>
                    <span class="input-group-addon">
                                Interval
                    </span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-default btn-block">Submit</button>
        </form>
        <script type="text/javascript">
        $(function() {
            $('#datetimepicker_from').datetimepicker();
            $('#datetimepicker_to').datetimepicker({
                useCurrent: false
            });
            $("#datetimepicker_from").on("dp.change", function(e) {
                $('#datetimepicker_to').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker_to").on("dp.change", function(e) {
                $('#datetimepicker_from').data("DateTimePicker").maxDate(e.date);
            });
        });
        </script>
    </div>
    <div class="col-md-4">
    </div>
</div>
</div>
{% if data %}
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <div class="col-md-6">
        <canvas id="line"></canvas>
        <script>
            var rsi = {{ rsi }};
            var overb = {{ overb }};
            var overs = {{ overs }};
            var minutes = "{{ minutes }}";
            var ctx = document.getElementById('line').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: minutes.split('*'),
                    datasets: [{
                            label: "RSI",
                            backgroundColor: 'rgb(244,104,66)',
                            borderColor: 'rgb(244,104,66)',
                            data: rsi,
                            fill: false
                        },
                        {
                            label: "Overbought",
                            backgroundColor: 'rgb(244,152,66)',
                            borderColor: 'rgb(244,152,66)',
                            borderDash: [5,5],
                            data: overb,
                            fill: false
                        },
                        {
                            label: "Oversold",
                            backgroundColor: 'rgb(66,244,197)',
                            borderColor: 'rgb(66,244,197)',
                            borderDash: [5,5],
                            data: overs,
                            fill: false
                        }
                    ],
                },

                // Configuration options go here
                options: {}
            });
        </script>
    </div>
    <div class="col-md-6">
        <canvas id="line_2"></canvas>
        <script>
        var obv = {{ obv }};
        var minutes = "{{ minutes }}";
        var ctx = document.getElementById('line_2').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: minutes.split('*'),
                datasets: [{
                        label: "OBV",
                        backgroundColor: 'rgb(244,131,66)',
                        borderColor: 'rgb(244,131,66)',
                        data: obv,
                        fill: false
                    }
                ],
            },

            // Configuration options go here
            options: {}
        });
        </script>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
        </div>
    <div class="col-md-6">
        <canvas id="line_3"></canvas>
        <script>
        var aru = {{ aru }};
        var overb = {{ overb }};
        var overs = {{ overs }};
        var ard = {{ ard }};
        var minutes = "{{ minutes }}";
        var ctx = document.getElementById('line_3').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: minutes.split('*'),
                datasets: [{
                        label: "Aroonup",
                        backgroundColor: 'rgb(66,244,98)',
                        borderColor: 'rgb(66,244,98)',
                        data: aru,
                        fill: false
                    },
                    {
                        label: "Overbought",
                        backgroundColor: 'rgb(244,152,66)',
                        borderColor: 'rgb(244,152,66)',
                        borderDash: [5,5],
                        data: overb,
                        fill: false
                        },
                    {
                        label: "Oversold",
                        backgroundColor: 'rgb(0,191,255)',
                        borderColor: 'rgb(0,191,255)',
                        borderDash: [5,5],
                        data: overs,
                        fill: false
                        },
                    {
                        label: "Aroondown",
                        backgroundColor: 'rgb(66,209,244)',
                        borderColor: 'rgb(66,209,244)',
                        data: ard,
                        fill: false
                        },


                ],
            },

            // Configuration options go here
            options: {}
        });
        </script>
    </div>
    <div class="col-md-3">
    </div>
</div>
</div>
{% endif %} {% endblock %}
