{% extends "basic.html" %} {% block head %}
<meta http-equiv="refresh" content="240">{% endblock %}{% block title %}Bittrex Machine{% endblock %} {% block body %}
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="navbar-header active">
                <a href="/" class="navbar-brand active">Bittrex Machine</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/report">Reports Generator</a>
                    </li>
                    <li>
                        <a href="/graph">Graphs Generator</a>
                    </li>
                    <li>
                        <a href="/datacenter">Data Center</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome back, {{ name }}!<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/logout">Log out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert alert-dismissable alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="jumbotron well">
            <h2>
                Hello, {{ name }}!
            </h2> {% if report %}
            <p>
                We have currently <strong>{{ report.count }}</strong> docs in our database:<br /> From <strong>{{ report.from }}</strong> to <strong>{{ report.to }}</strong>
            </p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
{% endblock %}
